<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link text-success">Главная</a></li>
        <li class="nav-item"><a href="/requests/new" class="nav-link text-success">Оформить заявку</a></li>
        <li class="nav-item"><a href="/customers" class="nav-link text-success">Список клиентов</a></li>
        <li class="nav-item"><a href="/requests" class="nav-link text-success">Список заявок</a></li>
        <li class="nav-item"><a href="/contracts" class="nav-link active bg-success" aria-current="page">Список договоров</a></li>
    </ul>
</header>

<main>
    <div class="container mt-3">
        <div class="py-1 text-center">
            <h3>Список договоров на кредит</h3>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Статус</th>
                <th>Дата подписания</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contract : ${contracts}">
                <td th:text="${contract.getCustomerFio()}"></td>
                <td th:text="${contract.isSignatureStatus()} ? 'Подписан' : 'Не подписан'"></td>
                <td th:text="${contract.getSignatureDate()}"></td>
                <td>
                    <div th:unless="${contract.isSignatureStatus()}">
                        <form th:method="PATCH" th:action="@{/contracts/{id}(id=${contract.getId()})}"
                              th:object="${contract}">
                            <button type="submit" class="btn btn-success">Подписать договор</button>
                        </form>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>