<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link text-success">Главная</a></li>
        <li class="nav-item"><a href="/requests/new" class="nav-link text-success">Оформить заявку</a></li>
        <li class="nav-item"><a href="/customers" class="nav-link active bg-success" aria-current="page">Список клиентов</a></li>
        <li class="nav-item"><a href="/requests" class="nav-link text-success">Список заявок</a></li>
        <li class="nav-item"><a href="/contracts" class="nav-link text-success">Список договоров</a></li>
    </ul>
</header>

<main>
    <div class="container mt-3">
        <div class="py-1 text-center">
            <h3>
                <label>Форма изменения данных клиента </label>
                <span th:text="${customer.getId()}"></span>
            </h3>
            <p class="lead">Измените информацию о клиенте</p>
        </div>
        <form th:method="PATCH" th:action="@{/customers/{id}(id=${customer.getId()})}" th:object="${customer}">
            <div class="mb-3 mt-3">
                <h5>Персональная информация:</h5>
                <label for="fio" class="form-label">ФИО:</label>
                <input type="text" th:field="*{fio}" class="form-control" id="fio"
                       placeholder="Фамилия Имя Отчество">
                <div style="color: lightcoral"
                     th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}">Fio error</div>
            </div>
            <div class="mb-3 mt-3">
                <label for="passport" class="form-label">Паспортные данные:</label>
                <input type="text" th:field="*{passport}" class="form-control" id="passport"
                       placeholder="Серия Номер">
                <div style="color: lightcoral"
                     th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}">Passport error</div>
            </div>
            <div class="mb-3 mt-3">
                <label for="maritalStatus" class="form-label">Семейное положение:</label>
                <select th:field="*{maritalStatus}" class="form-control" id="maritalStatus">
                    <option th:value="false" th:text="'Не состою в браке'"></option>
                    <option th:value="true" th:text="'Состою в браке'"></option>
                </select>
            </div>
            <div class="mb-3 mt-3">
                <label for="address" class="form-label">Адрес прописки:</label>
                <input type="text" th:field="*{address}" class="form-control" id="address"
                       placeholder="Область, Город, Улица, Дом, Квартира">
                <div style="color: lightcoral"
                     th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</div>
            </div>
            <div class="mb-3 mt-3">
                <label for="phone" class="form-label">Контактный номер телефона:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text bg-success" >+7</span>
                    <input type="text" th:field="*{phone}" class="form-control" id="phone"
                           placeholder="**********">
                </div>
                <div style="color: lightcoral"
                     th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone error</div>
            </div>
            <div class="mb-3 mt-3">
                <h5 for="employment" class="form-label">Сведения о занятости:</h5>
                <div class="row g-3" id="employment">
                    <div class="col-md-4">
                        <label for="organization" class="form-label">Название организации:</label>
                        <input type="text" th:field="*{organization}" class="form-control" id="organization"
                               placeholder="Организация">
                        <div style="color: lightcoral"
                             th:if="${#fields.hasErrors('organization')}" th:errors="*{organization}">Organization error</div>
                    </div>
                    <div class="col-md-5">
                        <label for="position" class="form-label">Занимаемая должность:</label>
                        <input type="text" th:field="*{position}" class="form-control" id="position"
                               placeholder="Должность">
                        <div style="color: lightcoral"
                             th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Position error</div>
                    </div>
                    <div class="col-md-3">
                        <label for="period" class="form-label">Период работы (месяцев):</label>
                        <input type="text" th:field="*{period}" class="form-control" id="period"
                               placeholder="Период работы">
                        <div style="color: lightcoral"
                             th:if="${#fields.hasErrors('period')}" th:errors="*{period}">Period error</div>
                    </div>
                </div>
            </div>
            <div class="mb-3 mt-3">
                <input type="hidden" th:field="*{creditAmount}" class="form-control" id="creditAmount">
            </div>
            <button type="submit" class="btn btn-success">Обновить данные</button>
        </form>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>